.homeContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: auto;
}

.presentation {
  width: 100%;
  height: 100%;
}

.firstImage {
  width: 100%;
  object-fit: cover;
  height: 500px;
  transform: skewY(-5deg);
}

#imgBackground {
  width: 100%;
  position: relative;
  margin-bottom: 0;
  display: block;
  /* overflow: hidden; */
}

.title {
  position: absolute;
  top: 17%;
  left: 30px;
  color: #fff;
  font-family: "Roboto";
}

.item {
  min-height: 400px;
  height: auto;
  min-width: 350px;

  margin: 10px;

  position: relative;
}

.item img {
  width: 100%;
  min-height: 480px;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  /* object-position: 50% 50%; */
  pointer-events: none;
}

.inner-carousel {
  display: flex;
}

.carousel {
  cursor: grab;
  /* overflow: hidden; */
}

.p {
  height: 50vh;
}

.info {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  flex-direction: column;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  transform: translate3d(0, 0, 0);
  background: rgba(255, 255, 255, 0.25);
  top: 0;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 -10px 10px rgb(0, 0, 0, 0.1);
}

.description {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  padding-block: 5rem;

  background: #d3462e;
}

.description::before,
.description::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  background: #f1ba0a;
  -webkit-mask-image: url("./images/svg-path.svg");
}

.description::before {
  top: 0;
}

.description::after {
  bottom: -1px;
  transform: rotate(0.5turn);
}

.storyContainer {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.trailer {
  height: 300px;
  border: solid 3px #fff;
}

.text {
  width: 400px;
  color: #392618;
}

.location {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

li {
  list-style-type: none;
  margin: 10px;
  color: #392618;
}

iframe {
  width: 500px;
  height: 350px;
}

.contactBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.contact-box {
  width: 500px;
  background-color: #139d4e;
  box-shadow: 0 0 20px 0;
  border-radius: 15px;
}

form {
  margin: 35px;
}

.input-field {
  width: 90%;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  border: 1px solid #392618;
  border-radius: 14px;
  outline: none;
}

.textarea {
  height: 150px;
  padding-top: 10px;
}

.formBtn {
  border-radius: 20px;
  color: #fff;
  margin-top: 10px;
  padding: 10px;
  background-color: #d3462e;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  iframe {
    width: 100%;
  }

  .contact-box {
    width: 80%;
  }
}

.cardContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cardContainer .cardPlates {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 360px;
  height: 480px;
  margin: 10px;
  /* background: #fff; */
  background: #d3462e;
  border-radius: 20px;

  transition: 0.5s;
}

.cardContainer .cardPlates:hover {
  height: 620px;
}

.cardContainer .cardPlates .imgBox {
  position: absolute;
  top: 10px;
  width: 327px;
  height: 350px;
  background: #333;
  border-radius: 12px;
  transition: 0.5s;
  overflow: hidden;
}

.cardContainer .cardPlates:hover .imgBox {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.cardContainer .cardPlates .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardContainer .cardPlates .cardContent {
  position: absolute;
  width: 100%;
  padding: 0 30px;
  text-align: center;
  top: 380px;
  height: 30px;
  overflow: hidden;
  transition: 0.5s;
}

.cardContainer .cardPlates:hover .cardContent {
  height: 330px;
  top: 220px;
}

.cardContainer .cardPlates .cardContent h2 {
  font-size: 1.5em;

  color: #fff;
}
.cardContainer .cardPlates .cardContent p {
  color: #fff;
}

.cardContainer .cardPlates .cardContent a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  background: #03a9f4;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}
